{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "chrome": "58",
          "ie": "11"
        },
      },
    ],
    "@babel/preset-react",
  ]
}
